<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<%- include('../partials/body') %>
<header>
<%- include('../partials/header') %> 
</header>
<%- include('../partials/nav') %> 
<main class="flex flex-col items-center gap-y-4 mt-8">
<%- include('../partials/form') %>
<a href="/guestbook" class="flex justify-center w-1/3 bg-sky-200 p-2 border-2 border-sky-300 rounded hover:bg-sky-100 hover:border-sky-200 shadow-lg font-bold tracking-wide">Go To Guestbook</a>
</main>
<%- include('../partials/footer') %> 
</body>
</html>